/* FONTS 
*/
@font-face {
  font-family: 'centabel';
  src: url('fonts/centabel.ttf') format('truetype');
  }

@font-face {
  font-family: 'lora';
  src: url('fonts/Lora-Bold.ttf') format('truetype');
  }

@font-face {
  font-family: 'nunito';
  src: url('fonts/Nunito-Bold.ttf') format('truetype');
  }

/* COLORS
*/
:root {
  --background-page:#F8F1F1;
  --strong: #025464;
  --accent1: #E57C23;
  --accent2: #E8AA42;
}

/* PAGE 
*/

* {
  box-sizing: border-box;
  }

#wrapper { 
  max-width: 800px; 
  margin: 0 auto; 
}

section {
  padding-top: 50px; /*matches the height of the navbar for navigation anchor elements*/
  padding-left: 5%;
  padding-right: 5%;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-page) /* Text on the page */
}

/* HEADERS 
*/

h1 {
  font-family: "nunito";
  color: var(--strong);
  font-size: 2em;
  margin-bottom: 0.1em;
}
  
h2 {
  font-family: "nunito";
  color: var(--accent1);
  font-size: 1.4em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

h3 {
  color: sienna;
    margin-top: 0.1em;
  margin-bottom: 0.1em;
}

/* TABLES 
*/

table {
  border: 2px solid slategray;
  border-collapse: collapse;
  margin-top: 15px;
  margin-bottom: 30px;
}
  
thead {
  color: whitesmoke;
  background-color: var(--strong);
  text-align: left;
}

th {
  padding: 5px;
  margin: 0;
}


td   {
  border-bottom: 1px solid slategray;
  margin: 0;
  padding: 0.5em;
}


tr:hover {
  background-color: var(--accent2);
  }
  
.code {
  font-family: monospace;
}


/* NAVBAR 
*/

.navbar {
 
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  width: 100%;
  max-width: 800px;
  padding: 0 40px;

  font-family: "lora", "centabel", Georgia, 'Times New Roman', serif;
  font-weight: bolder;
  font-size: 1.5em;
  line-height: 0.5em;
  border-bottom: 2px solid var(--accent1);
  background-color: var(--background-page);
  color: var(--accent1);
}


.navlinks li {
  display: inline;
  list-style-type:none;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bolder;
}

.navlinks li a {
  text-decoration: none;
}

.navlinks li+li::before {
  padding: 10px;
  content: "|"; 
}

a:link {
  color: var(--strong);
}
a:visited {
  color: var(--strong)
}
a:hover {
  color: var(--accent1);
}

footer {
  margin-top:100px;
  border-top: 1px solid var(--accent1);
  padding-left: 5%;
  padding-right: 5%;
  
}

